<h1>Editing person</h1>

<%= render "form", person: @person %>

<br>

<div>
<button type="button" class="btn btn-primary"<%= link_to "Show this person", @person %> |</button>
<button type="button" class="btn btn-primary"<%= link_to "Back to people", people_path %></button>
</div>
