
<h1>Nouvel habitant</h1>
<div class="formulaire">
<%= render "form", person: @person %>

<br>

<div>
<button type="button" class="btn btn-primary"><%= link_to "Retour à la page principale", people_path %></button>
</div>
</div>
