h1 {
    color: #E5B946;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: "FinkHeavy";
    margin-bottom: 2%;
}

h3 {
    font-size: 18px;
    margin-left: 2vw;
font-family: Verdana;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

p {
    font-size: 16px;
}
.nom{
    font-family: "FinkHeavy";
}

.bloc {
    margin-bottom: 5%;
    padding: 25px;
}

#people {
    display: flex;
    flex-wrap: wrap;

}

.btn {
    display: flex;
    justify-content: center;
    margin: auto;
}

.formmulaire {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 5%;
}

.btn-primary {
    background-color: #906F39;
    border-color: #906F39;
}

.btn-primary:hover {
    background-color: #906F39;
    border-color: #906F39;
}
.btn-success{
    background-color: #8DC9A4;
    border-color: #8DC9A4;
}
.btn-success:hover{
    background-color: #8DC9A4;
    border-color: #8DC9A4;
}

body {
    font-family: Verdana;
    margin-bottom: 2%;
    background-image: url(https://cdn.discordapp.com/attachments/887412598297989140/1081317455391117382/test_background2.png);
}

img {
    margin-bottom: 10%;
}

header {
    background-image: url(https://cdn.discordapp.com/attachments/887412598297989140/1081312981360595084/telechargement.png);
}


.navig {
    display: flex;
    justify-content: center;

}

img {

    margin-bottom: 5%;
    border-radius: 5%;
}

.logo {
    width: auto;
    height: 100%;
    margin-left: 1vw;
    margin-top: 1%;
}

.lienlogo {
    height: 200px;
}

@font-face {
    font-family: "FinkHeavy";
    src: url(FinkHeavy.woff);
}